/* *은 모든 태그를 다 선택 */
*{
    margin:0;
    padding:0;
}

ul{
    list-style: none;
}

a{
    color:black;
    text-decoration: none;
}

.header{
    border-top:4px solid #3388ff;
}

h1{
    text-align: center;
}

/* h1안에 있는 img를 선택 */
h1 img{
    width:200px;
}

.navi{
    display: flex;
    justify-content: center;
    margin-top:20px;
    font-size:20px;
}

.navi li{
    margin-left: 40px;
    margin-right: 40px;
}

.banner{
    margin-top: 20px;
    background-image: url(../images/banner.png);
    height: 500px;
    background-size:cover;
    background-position: center center;
}

.section1{
    margin-top:80px;
}

.section1 h3{
    font-size:30px;
    margin-bottom: 20px;
    text-align: center;
}

.con{
    display: flex;
    justify-content: center;
}
.con div{
    width: 380px;
    height:480px;
    background-color: #BA4E31;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.con div h4{
    text-align: center;
    margin-top: 20px;
}

.con div p{
    margin-top: 20px;
}

.con div p a{
    color: #fff;
    font-size: 20px;
}

.con .item2{
    background-color: #355CE5;
}
.con .item3{
    background-color:#DAB431
}

.section2{
    margin-top: 80px;
    height: 250px;
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
}

.footer{
    background-color: #3388ff;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer p{
    color:#fff;
}

.footer .copyright{
    margin-left: 60px;
}

.footer .email{
    margin-right:60px;
}

.footer p a{
    color:#fff;
}